POSTGRES_DB=langfuse
POSTGRES_USER=langfuse
POSTGRES_PASSWORD=langfuse
POSTGRES_PORT=5433

CLICKHOUSE_PORT=8124
CLICKHOUSE_TCP_PORT=9003

REDIS_PORT=6380

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=langfuse_clickhouse

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123456
MINIO_PORT=9004
MINIO_CONSOLE_PORT=9005
LANGFUSE_S3_BUCKET=langfuse
LANGFUSE_S3_EVENT_UPLOAD_BUCKET=langfuse-events

LANGFUSE_PORT=3001
LANGFUSE_SALT=replace_with_32_characters_minimum
LANGFUSE_ENCRYPTION_KEY=replace_with_32_characters_minimum
LANGFUSE_NEXTAUTH_SECRET=replace_with_32_characters_minimum
LANGFUSE_NEXTAUTH_URL=http://localhost:3001
