RETRIEVER_API_HOST=0.0.0.0
RETRIEVER_API_PORT=8010
RETRIEVER_RETRIEVE_TIMEOUT_SEC=20
RETRIEVER_MAX_CONTEXT_CHARS=1200
RETRIEVER_API_LOG_LEVEL=INFO

RERANK_ENABLED=false
RERANK_MODEL_NAME=BAAI/bge-reranker-v2-m3
RERANK_TOP_N=30
RERANK_BATCH_SIZE=8
RERANK_TIMEOUT_SEC=15
RERANK_MAX_LENGTH=512
RERANK_DEVICE=auto

